## Project Template

## Dependency
node_modules

## Logs
logs
*.log
npm-debug.log*

## Except File
*.js
*.map
#*.html
#!node_modules/**/*.html
#*.css
#!node_modules/**/*.css

## MicrosoftOffice template
*.tmp

## Word temporary
~$*.doc*

## Excel temporary
~$*.xls*

## Excel Backup File
*.xlk
