## Project Template
#.idea/

## Dependency
node_modules
!node_modules/.bin/selenium*

## Logs
logs
*.log
npm-debug.log*

## Except File
*/**/*.js
*/**/*.*.map
*/**/*.html
*/**/*.css

## MicrosoftOffice template
*.tmp

## Word temporary
~$*.doc*

## Excel temporary
~$*.xls*

## Excel Backup File
*.xlk
